{% extends './layout/layout.html' %}
{% block title %} VISI DAN MISI Dinas Pemuda dan Olahraga Kota Yogyakarta {% endblock %}

{% block content %}
    <div class="card text-white bg-info mb-3 text-center">
        <div class="card-header">VISI dan MISI Dinas Pemuda dan Olahraga Kota Yogyakarta<br>
            <img src="static/img/logo_dispora2.png" class="card-img-top" 
                style="width: 10%;margin:0 auto;">
        </div>
        <div class="card-body">
            <h5 class="card-title">Visi</h5>
            <p class="card-text">Meneguhkan Kota Yogyakarta sebagai Kota Nyaman Huni dan Pusat Pelayanan Jasa 
            yang Berdaya Saing Kuat untuk Keberdayaan Masyarakat dengan Berpijak pada Nilai Keistimewaan. </p>
            <hr>
            <h5 class="card-title">Misi</h5>
            <ol >
                <li>Meningkatkan kesejahteraan dan keberdayaan masyarakat. </li>
                <li>Memperkuat ekonomi kerakyatan dan daya saing Kota Yogyakarta</li>
                <li>Memperkuat moral, etika dan budaya masyarakat Kota Yogyakarta.</li>
                <li>Meningkatkan kualitas pendidikan, kesehatan, sosial dan budaya.</li>
                <li>Memperkuat tata kota dan kelestarian lingkungan.</li>
                <li>Membangun sarana prasarana publik dan permukiman.</li>
                <li>Meningkatkan tatakelola pemerintah yang baik dan bersih.</li>
            </ol>
        </div>
    </div>
{% endblock %}